.bank-map {
  padding-top: 50px;
  padding-bottom: 25px;

  @media (max-width: 1200px) {
    padding-top: 30px;
    padding-bottom: 20px;
  }

  &__title {
    margin-bottom: 56px;

    @media (max-width: 1200px) {
      margin-bottom: 20px;
    }
  }

  &__map {
    height: 50vw;
    max-height: 728px;

    @media (max-width: 1200px) {
      height: 90vw;
    }
  }

  &__map-placeholder {
    animation: shine 1s linear infinite alternate;
    background-image:
      linear-gradient(var(--color-skeleton) 100%, transparent 0);
    background-size:
      100% 100%;
  }
}
